.container{
  display: flex;
  justify-content: center;
}

.block{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: "white";
}

.cover-button{
  width: 600px;
  height: 100px;
  border-radius: 10px;
  background-color: #6A95CA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-click{
  border-radius: 20px;
  background-color: violet;
  color: white;
  width: 200px;
  height: 40px;
}