.container{
  display: flex;
  justify-content: center;
}

.block{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: "white";
}

.cover-button{
  width: 600px;
  height: 100px;
  border-radius: 10px;
  background-color: #6A95CA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-click{
  border-radius: 20px;
  background-color: violet;
  color: white;
  width: 200px;
  height: 40px;
}

.block-button{
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-left: -200px;
  margin-top: 120px
}

.button-add{
 border-radius: 5px;
  background-color: violet;
  color: white;
}

.button-cancle{
  border-radius: 5px;
  background-color: whitesmoke;
  color: grey;
}

.listspend{
  background-color:  #DEBDFE;
  width: 15px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.list-title{
  display: flex;
  margin-top: 100px;
}

.block-second{
  display: flex;
  justify-content: center;
}

.cover-name-input{
  display: flex;
  gap: 0px;
  width: 600px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #6A95CA;
}

.name-tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 120px;
  margin-top: -10px;
}

.input-tab{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 10px;
  width: 80%;
  height: 100px
}

.boxlist{
  display: flex;
  justify-content: center;
}

.list{
  display: flex;
  justify-content: center;
  background-color: #EEB39B;
  align-items: center;
  height: 150px;
  width: 600px;
  gap: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.cover-filter{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  border-radius: 10px;
  
}

.select{
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.cover-show{
  display: flex;
  width: 100%;
  justify-content: center;
}

.show{
  display: flex;
  justify-content: space-around;
  width: 650px;
  height: 100px;
  background-color: grey;
  border: 1px solid white;
  border-radius: 5px;
}
 
.show-date{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.show-name{
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
}

.show-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: violet;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}